.arrow {
    background: transparent;
    border: none;        
    padding: 0;          
    cursor: pointer;
    font-size: 0;
    text-decoration: none;
    transition: color 0.2s;
    @media @bw1340 {
        width: 67px;
        height: 40px;
    }

    @media @bw768 {
        width: 62px;
    }

    &:active {
        color: @red;
    }
    &:hover {
        @media (hover: hover) {
            color: @red;
        }
    }
    &__icon {
        width: 100%;
        height: 100%;
    }
    &--left {
        .arrow__icon {
            transform: rotate(180deg);
        }
    }
    &--disabled {
        color: @gray_dark !important;
        pointer-events: none;
    }

}