html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 147px;
    min-height: 100vh;   
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.375; 
    color:#1f1e1e
}

.page-header{
    height: 147px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #dedede80;
    z-index: 100%;
    backdrop-filter: blur(20px);
}

.page-header__container{
    box-sizing: border-box;
    display: flex;
    max-width: 1414px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.page-header__logo{
    width: 202px;
    height: 147px;
    flex-shrink: 0;
    font-size: 0;
}

.page-header__logo-icon{
    width: 100%;
    height: 100%;
}

.page-header__nav{
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    gap: 50px;
}

.page-header__nav-link{
    color:#1f1e1e;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    text-decoration: none;
    transition: color 0.2s;

}

.page-header__nav-link:hover{
    color:#bc3324
}

.page-header__right-block{
    width: 202px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn {
    display: inline-flex;
    box-sizing: border-box;
    padding: 15px 40px;  
    border: 1px solid #dedede80; 
    text-decoration: none;
    background-color: transparent;
    outline: none;
    color:#1f1e1e;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    text-align:center;
    overflow:hidden;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.btn:hover{
    background-color: #1f1e1e;
    color:#fff;


}

.section-title{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 624px;
    margin: 0 auto 150px;
    padding: 7px 45px 9px;
    background-color: #1f1e1e;
    color: #ffffff;
    font-family: "Lora", serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.28;
    text-align: center;
    text-transform: uppercase;
}

.listing{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;    
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    max-width: 1414px;
}

.listing__events-list{
    display: flex;
    flex-wrap: wrap;
    gap: 120px 60px;

}

.events{
    padding: 140px 0px 150px;
}

main{
    flex: 1 0 auto;
    background-color: #dedede;
}

.home__main-header{
    max-width: 990px;
    margin: 100.5px 465px 100px;
    align-content: center;
}

.home__offers{
    max-width: 624px;
    margin: 0 648px 200px;
}

.offers__title{
    padding:15px 40px;
}

.about__container{
    width: 100%;
    max-width: 1334px;
    margin: 150px 293px 100px;
    max-height: 1220px;
}

.upcoming__container{
    width: 100%;
    max-width: 1334px;
    margin: 150px 293px 146px;
}

.contacts__container{
    width: 100%;
    max-width: 1337px;
    margin: 150px 290px 150px 293px;
}

.event-card{
    display: flex;
    width: 405px;
    max-width: 100%;
    min-width: 280px;
}

.event-card__link{
    display: flex;
    flex-direction: column;
    width: 100%;
    color:#1f1e1e;
    text-decoration: none;
}

.event-card__link:hover .event-card__title{
    color:#bc3324;
    text-decoration-color: #bc3324;
}

.event-card__picture{
    display: block;
    margin: 0 0 25px;
    font-size: 0;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.event-card__picture::after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 107.16%;
}

.event-card__img{
    display:block;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-card__title{
    margin: 0 0 15px;
    min-height: 65px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.375;
    text-decoration: underline transparent;
    transition: color 0.2s, text-decoration-color 0.2s;  
}

.event-card__description{
    margin: 0 0 auto;
}

.event-card__time{
    margin: 15px 0 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.35;
}

.listing__event-card{
    width: calc(33.333% - 40px);
}

.page-footer {
    flex: 0 0 auto;
    background-color: blue;
}

.event {
    padding: 40px 0 150px;
}

.reserve {
    display: grid;
    gap: 65px 11%;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas: 
        "checks scheme"
        "order legend";
    width: 100%;
}

.reserve__checks {
    grid-area: checks;
}

.reserve__order {
    grid-area: order;
}

.reserve__scheme {
    grid-area: scheme;
}

.reserve__legend {
    grid-area: legend;
}

.reserve > div {
  box-sizing: border-box;
  padding: 10px;
  background-color: coral;
  text-align: center;
}